name: Semantic Release

on:
  workflow_run:
    workflows: [Test]
    branches: [main]
    types:
      - completed

permissions:
  id-token: write  # Required for OIDC
  contents: write  # To create GitHub releases

jobs:
  release:
    # check Test success
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v6
        with:
          node-version: 'lts/*'
          cache: 'npm'
      - run: npm ci --omit=optional
      - run: npx semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NODE_AUTH_TOKEN }}
