name: Test

on: [push, pull_request]

# Tests cannot run on windows due to issues with the windows server 2019 images
# the github action runners are using not being able to run linux docker images
# https://github.com/actions/virtual-environments/issues/1143

jobs:
  build:
    runs-on: ${{ matrix.os }}
    # Exist latest is in development, so failures are allowed, but valuable to log
    continue-on-error: ${{ matrix.exist-version == 'latest' }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node-version: [20, 22, 24]
        exist-version: [latest, release, 5.4.1, 4.10.0]
    services:
      exist:
        image: existdb/existdb:${{ matrix.exist-version }}
        ports:
          - 8080:8080
          - 8443:8443
    steps:
      - uses: actions/checkout@v6
      - name: Set up NodeJS v${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm ci --omit=optional
      - run: npm link
      - name: Install public-repo locally
        # Do not attempt to install the local public repo on Exist-DB 4 or 5. It won't work
        # installation on latest is skipped because of an issue in public-repo
        # see https://github.com/eXist-db/public-repo/issues/104
        if:  matrix.exist-version != '4.10.0' && matrix.exist-version != '5.4.1' && matrix.exist-version != 'latest'
        run: |
          xst package install github-release templating v1.2.1 --config spec/fixtures/.env --verbose
          xst package install github-release public-repo v4.0.0 --config spec/fixtures/.env --verbose
      - run: npm test
