name: Test - No REST

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: pull image 
        run: docker pull existdb/existdb:release
      - name: create eXist-db Container
        run: |
          docker create --rm --name exist \
              --publish 8080:8080 --publish 8443:8443 \
              --volume ./empty:/exist/autodeploy:ro \
              existdb/existdb:release
      # - name: get web.xml from container (needs to have started before)
      #   run: docker cp exist:exist/etc/webapp/WEB-INF/web.xml ./web.xml
      # - name: modify web.xml
      #   run: cat web.xml | \
          # tr '\n' '\r' | \
          # sed -E 's/(<param-name>hidden<\/param-name>\r[[:space:]]+<param-value>)false(<\/param-value>)/\1true\2/' | \
          # tr '\r' '\n' > modified-web.xml
      - name: Copy modified web.xml
        run: docker cp ./spec/fixtures/web-no-rest.xml exist:exist/etc/webapp/WEB-INF/web.xml
      - name: Start eXist-db Container
        run: docker start exist
      - name: Use Node.js 20
        uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm ci --no-optional
      - run: npm link
      - name: Wait for container to be healthy
        run: timeout 60s sh -c 'until docker ps | grep exist | grep -q healthy; do echo "Not ready yet."; sleep 2; done; echo "$(docker ps | grep exist)"'
      - run: npm run test:norest

